{{#extend "main"}}
<form>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Please enter the author..">
    </div>
    <div class="form-group">
        <label for="quote">Quote</label>
        <textarea class="form-control" name="quote" id="quote" rows="3" placeholder="Enter the quote.."></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{{/extend}}