{{#extend "main"}}
    {{#content "header"}}
        <h1>Failure: {{message}}</h1>
    {{/content}}
    {{#content "body"}}
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
    {{/content}}
{{/extend}}